<clickhouse>
  <named_collections>
    <eds_lake>
      <connection_string>DefaultEndpointsProtocol=https;AccountName=${compte};AccountKey=${cle};EndpointSuffix=core.windows.net</connection_string>
      <container>${conteneur}</container>
      <blob_path>*</blob_path>
    </eds_lake>
  </named_collections>
</clickhouse>
